image: Visual Studio 2017 RC
# configuration for "master" branch
-
  branches:
    only:
      - master
  configuration: Release
  before_build:
    - ps: nuget restore .\OOP_2.sln
  build:
    project: .\OOP_2.sln
# configuration for all other branches except "master"
-
  branches:
    except:
      - master
  configuration: Test
  before_build:
    - ps: nuget restore .\OOP_2.sln
  build:
    project: .\OOP_2.sln